body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
h1, h2 {
    text-align: center;
    color: #333;
}
select, textarea, input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}
.button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
.button:hover {
    background-color: #0056b3;
}
.button.copy {
    background-color: #28a745;
}
.button.copy:hover {
    background-color: #218838;
}
.button.delete {
    background-color: #dc3545;
}
.button.delete:hover {
    background-color: #c82333;
}
.sku-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sku-quantity {
    width: 60px;
    margin-right: 10px;
}